// {{ .Comment }}

package {{ .Pkg }}

{{ range $i := .Ifaces -}}
{{ $i.Type.Doc }}type {{ $i.Type.Name }} interface {
{{- range $m := $i.Methods }}
	{{ $m.Doc }}{{ $m.Signature }}
{{- end }}
}

{{ end }}